.gradle
build/
/build/

# IDE stuff
.idea/
.settings/

#MCreator workspace
.mcreator/

# Run files
run/

# MacOS system files
.DS_STORE

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
